body {
    font-family: arial;
    font-size: 10px;
    text-align: center;
    background-color: #dee7ee;
}

.button-toggle-nav {
    border: 3px double black;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    background-image: url("img/menu.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    cursor: pointer ;
}

.button-toggle-nav:hover {
    opacity: 0.7;
    background-color: #ddd;
}

.nav-sidebar {
    width: 50px;
}

.nav-sidebar ul {
    list-style-position: inside;
    list-style: none;
    padding: 0px;
    width: 200px;
    visibility: hidden;
}

.nav-sidebar li {
    border: 3px double black;
    border-radius: 10px;
    font-size: 20px;
    width: 200px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

#standaard{
    background-color: #dee7ee;
}

#oranje{
    background-color: #f07902;
}

#rood{
    background-color: #fa0202;
}

#wit{
    background-color: #fcfcfc;
}

#blauw{
    background-color: #0536e8;
}

#roze{
    background-color: #e305ab;
}

#geel{
    background-color: #f6fa02;
}

#paars{
    background-color: #9207e8;
}

